{{timer-counter}}

<div class="layout-row layout-align-center-center">
  {{# if timer.ticking }}
    <div {{action 'stop'}} class="flex-5">
      {{paper-icon "pause-circle-outline" size=96}}
    </div>
  {{else}}
    <div  {{action 'start'}} class="flex-5">
      {{paper-icon "play-circle-outline" size=96}}
    </div>
  {{/if}}
</div>